:root {
  --pastel-blue: #a0e7e5;
  --pastel-yellow: #faf3a0;
  --pastel-green: #b5ead7;
  --pastel-lavender: #dcc6e0;
  --pastel-peach: #ffdac1;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

main {
  height: 90vh;
  padding: 1rem;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-btn {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  background-color: var(--pastel-blue);
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease;
  position: relative;
  z-index: 99;
}

.menu-item {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
  /* transform: translateY(0); */
  transform: translate(0, 0) scale(0.5);
  opacity: 0;
  transition: all 0.4s ease;
}

.menu-items {
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  pointer-events: none;
  z-index: 1;
}

.menu-item:nth-child(1) {
  transform: translateY(-30px);
  transition-delay: 0.2s;
}

.menu-item:nth-child(2) {
  transform: translateY(-60px);
  transition-delay: 0.15s;
}

.menu-item:nth-child(3) {
  transform: translateY(-90px);
  transition-delay: 0.1s;
}

.menu-item:nth-child(4) {
  transform: translateY(-120px);
  transition-delay: 0.05s;
}

.menu-items .menu-item {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover .icon {
  opacity: 0.5;
}

.menu-container.open .menu-item:nth-child(1) {
  transform: translateY(42px) scale(1);
  transition-delay: 0.05s;
}

.menu-container.open .menu-item:nth-child(2) {
  transform: translateY(82px) scale(1);
  transition-delay: 0.1s;
}

.menu-container.open .menu-item:nth-child(3) {
  transform: translateY(126px) scale(1);
  transition-delay: 0.15s;
}

.menu-container.open .menu-item:nth-child(4) {
  transform: translateY(168px) scale(1);
  transition-delay: 0.2s;
}

.bar {
  width: 24px;
  height: 3px;
  background-color: #333;
  margin: 2px 0;
  border-radius: 2px;
  transition: transform 0.4s;
}

.menu-btn.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-container {
  position: relative;
}

.menu-item:nth-child(1) {
  background-color: var(--pastel-yellow);
}

.menu-item:nth-child(2) {
  background-color: var(--pastel-green);
}

.menu-item:nth-child(3) {
  background-color: var(--pastel-lavender);
}

.menu-item:nth-child(4) {
  background-color: var(--pastel-peach);
}
